/*COLORS*/
$dark-blue :#020310; /*131227*/
$pink:#db1762;
$text-color:#fce5f5;
$primary-color: #b808a0;
$blue-gray:#476084;
$blue: #04a7f8; //#07a9f9



/*MIXINS*/
@mixin easeOut {
  transition: all 0.6s ease-out;
  
}
@mixin textShadow {
  text-shadow: 0 0 10px $primary-color;
  
}
@mixin textShadowWhite {
  text-shadow: 0 0 10px $text-color;
  
}

/*Media Query Mixins*/ 
@mixin mediaSm {
  @media screen and (max-width: 500px){
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px){
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width:769px) and (max-width: 1170px){
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) and (max-width: 1366px){
    @content;
  }
}

@mixin mediaXXl {
  @media screen and (min-width: 1367px)and (max-width: 1440px) {
    @content;
  }
}
