/*colors*/
$dark-blue :#131227;
$pink:#db1762;
$text-color:#fce5f5;
$primary-color: #b808a0;
$blue-gray:#476084;
$blue-green : #135f85;
$show-header-image : true;
$header-image : url(../images/hero1.jpg);

/*mixins*/
@mixin easeOut {
  transition: all 0.6s ease-out;
  
}
@mixin background{
@if $show-header-image {
  &#home {
    background: $header-image;
    background-attachment: fixed;
    background-size: cover;}
  }}
