// Widescreens desktop and Laptop
@include mediaXl {

}

//Smaller Desktop and Laptop
@include mediaLg {
  
    #home {.heroText {
        padding: 0;
        line-height: 1;
      
      .icon-container a{
          width: 25px;
          height: 25px;
          background-color: transparent;
          &:hover {
              box-shadow: none;
              text-shadow: none;
          }
      } 
    }  }   
       
}

//Tablets
@include mediaMd {
    //HEADER AND MENU
    #home{
        .heroText {
          padding: 0;
        line-height: 1;
        .icon-container a{
            width: 25px;
            height: 25px;
            background-color: transparent;
            &:hover {
                box-shadow: none;
                text-shadow: none;
            }
        } 
      }
      //menu
      ul.menu-nav, div.menu-image{
        float: none;
       width: 100%;
       min-height: 0;
       &.show {
           transform: translate3d(0,0,0)
       }
      }  
    }
    .menu-image {
        height: 25vh;
        transform: translate3d(100%,0,0);
        .portrait{
            background: url('../images/profile-small.png');
            width: 150px;
            height: 150px;
        }
    }
    .menu-nav {
        height: 75vh;
        transform:translate3d(-100%,0,0);
        font-size:24px;
    }
  
    
    .menu {
        .nav-link {
        padding: 0.1rem;
    }
    .nav-mail {
        font-size: 18px;
    }
    .nav-item {
        .icon {
            width: 25px;
            height: 25px;
            margin-bottom: -0.1em;
        }
        span {
            font-size: 20px;
        }
    }
        
    }
     //ABOUT
     #about-text{
            width: 50%;
            font-size: 16px;
            }
    //PARALAX
    #paralax{
        .text {
            font-size: 16px;
        }

     }        
   //SKILLS
  #skills {
      
      .skill-container{
         // margin-top: 10vh;
        
        .skill-btns button {
            font-size: 15px;
            padding: 12px 0px;
        }

        .skill-icons-container{
           width: 80%;
           height: 50vh;
           grid-template-columns: repeat( auto-fit, minmax(130px, 1fr) );
          .tooltip {
              padding: 0.5rem;
              .skill-icon {
                 
                  margin:0;
                  margin-bottom: 0.7em;
              }
          } 
        }
          img{
              display:none;
          }
      }
    .tooltip-text{
          width: 70%;
          left:32%;
        font-size: 12px;
        padding: 0.5rem 0.1rem;
    }
 
   }
   //SCROLL TO TOP
   .top {
       width: 35px;
       height: 35px;
   }
}
   
    

//Smartphone
@include mediaSm {
    //HEADER AND MENU
    #home{
       .heroText {
            padding: 0;
          line-height: 1;
     .h1h {font-size: 3.8rem;
        }
      .h2h {font-size: 2rem; }
      .h3h {font-size: 1.5rem; 
    margin-top: -5vh;}
          
          .icon-container a{
              width: 20px;
              height: 20px;
              background-color: transparent;
              &:hover {
                  box-shadow: none;
                  text-shadow: none;
              }
          } 
        }  
      }

  //ABOUT
  #about {
    .about-container{
        flex-direction: column;
        margin-top:1em;
        .about-text{
            width: 100%;
        }
        .about-img{
            width: 90%;
        }
    }    
  }
  #paralax{
      height: 100vh;
   flex-direction: column;
   justify-content: space-evenly;
   .text {
       width: 100%;
       padding: 0.2rem;
   }
   .resume {
       width: 100%;
       padding: 0.2rem;
       h2{
           font-size: 1.5rem;
           margin-bottom: 1.7rem;
       }
    
      
   }

 }   
  //SKILLS
  #skills {
      
    .skill-container{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .skill-btns  {
           width: 100%;
        }
        .skill-icons-container {
            width: 100%;
            display:flex;
            flex-flow: row wrap;
            
            .tooltip {
                width: 100px;
                padding: 0;
                padding-left: 2.6em;
                .skill-icon{
                width: 40px;
                height: 40px;
                margin-bottom: 0;
                }
            }
        }
    }
  .tooltip-text {
      left:56%;
      width: 95%;
  }
}

//BUTTONS & ICONS
 .neon-btn-dark {
    font-size: 0.8rem;
}
}