@import "config";
@import "menu";
@import "icon-button";
@import "skills";
@import "mobile";


/*CORE STYLING*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
 
    height: 100%;
  background-color: $dark-blue;
  font-family: 'Montserrat' ;
  font-weight: 500;
  line-height: 1.5;
}
/*HEDINGS*/
h1,h2,h3{
  font-family: Audiowide;
font-weight: 400;
color:$text-color;
&.h1h {font-size: 6rem;
  text-shadow: 0 0 10px $primary-color;
}
&.h2h {font-size: 4rem;}
&.h3h {font-size: 2rem;}
 
padding: 0.2rem 1rem;

}
a{
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color:$primary-color;
  }
 }
 ul {
   list-style: none;
 }

header {
  @include background;
  height: 100vh;
  width: 100%;
 
}
/*HERO*/
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-item > .active {
  color:$primary-color;
  text-shadow: 0 0 15px $primary-color;
}


/*hero text*/
.heroText {
   padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
    
    }
/*ABOUT SECTION*/  
  .about {
    color:$text-color;
   background-color:$dark-blue;
   height: 100vh;
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 95%;
    margin:0 auto;
    height: 90vh;
    .about-text{
      width: 50%;
      font-size: 20px;
      padding: 0 1em;
      p:nth-of-type(1) {
        font-weight: bold;
        margin-bottom: 0.5em;
        
      }
      p{
        span{
          text-shadow: 0 0 10px $primary-color;
        }
      }
     }
     
    .about-img{
      width: 45%;
      img {
        width: 100%;
        border-radius: 3px;
      }
    }
  }
  
  
  }
 

